@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lobster&family=Pacifico&family=Quicksand:wght@400&display=swap');

body {
  background-color: azure;
}

.App {
  text-align: center;
  font-family: "Quicksand";
}

.App hr {
  border: 1px solid rgb(202, 202, 202);
  width: 60%;
  margin-bottom: 40px;
  margin-top: -10px;
}

.Player {
  text-align: center;
  font-family: "Quicksand";
}

.aeroplayHeader {
  font-size: 56px;
  font-family: "Pacifico", cursive;
  color:rgb(134, 177, 233);
}

.aeroplayHeader H1 {
  margin: 30px;
}

.welcome H1 {
  position: absolute;
  top: 0px;
  right: 60px;
  font-size: 48px;
}

.homeButton {
  position: absolute;
  display: flex;
  font-size: 24px;
}

.homeButton button {
  margin-left: 12px;
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  font-family: "Quicksand";
  padding-left: 18px;
  padding-right: 18px;
}

.homeButton img {
  max-width: auto;
  max-height: 60%;
  margin-left: 10px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.download button {
  margin-left: 12px;
  height: 31px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
}

.download img {
  max-width: auto;
  max-height: 60%;
  margin-right: 4px;
}

.searchPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.searchPlayer input {
  padding: 6px;
  height: 0%;
  margin-left: 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid black;
}

.searchPlayer button {
  margin-left: 12px;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
}

.searchPlayer img {
  max-width: 100%;
  max-height: 100px;
}

.searchPlayer img {
  max-width: 100%;
  max-height: 100px;
}

.mapSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-left: 20px;
  background-color: #c1cccc;
  padding: 6px 20px;
  border-radius: 8px;
}

.mapSelect select {
  padding: 6px;
  height: 0%;
  margin-left: 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid black;
}

.controlSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-left: 20px;
  background-color: #c1cccc;
  padding: 6px 20px;
  border-radius: 8px;
}

.controlSelect select {
  padding: 6px;
  height: 0%;
  margin-left: 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid black;
}

.dataSection {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.dataTable {
  margin-left: 30px;
}

.dataTable th{
  padding: 15px;
}

.globalData h3 {
  margin-top: 0px;
}

.globalData {
  color: #000000;
  border-radius: 5px;
  background-color:rgb(193, 204, 204);
  padding: 20px 15px 40px;
  margin-top: 20px;
}

.userSearchForm input {
  margin: 10px;
}

.scores h1 {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.scores hr {
  border: 1px solid rgb(202, 202, 202);
  width: 40%;
}

.mapSelectScores {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: auto;
  margin-top: 8px;
  margin-bottom: 20px;
}

.mapSelectScores select {
  padding: 5px;
  height: 0%;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
}

.playerScoreTable {
  align-items: center;
  justify-content: center;
  display: flex;
}

.playerScoreTable th {
  padding: 15px;
}

table {

}